@import "variable.less";
.title {
  font-size: 20px;
  color: @base-green;
  font-weight: bold;
  letter-spacing: 1px;
}

.primary-btn {
  border: 1px solid @base-green;
  color: white;
  background-color: @base-green;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    color: white;
    background-color: @dark-green;
    border-color: @dark-green;
    text-decoration: none;
  }
}

.gray-btn {
  color: #ffffff;
  background-color: @base-gray;
  border: 1px solid @base-gray;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    color: white;
    background-color: @dark-gray;
    border-color: @dark-gray;
    text-decoration: none;
  }
}